.wrapper {
  display: flex;
  justify-content:space-around;
  height: 50vh;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  align-content: space-between;
}

.box {
  width: 200px;
  height: 200px;
  background-color: orange;
  color: white;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
}

