/* App.css */
.grid {
  display: grid;
  height: 50vh;
  gap: 5px;
  color: white;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-content: stretch ;
  align-content: flex-end;
}
.header {
  background-color: #2ecc71;
  height: 100px;
  width: 100px;

}

.content {
  background-color: #3498db;
}
.nav {
  background-color: #8e44ad;
}
.footer {
  background-color: #f39c12;
}

