/* App.css */
.grid {
  /*부모에서 선언된 grid*/
  display: grid;
  /*grid-template-columns: 200px 200px 200px 200px ;*/
  /*grid-template-columns: repeat(4, 100px);*/
  grid-template-columns: [first-line] 100px [second-line] 100px [third-line] 100px [fourth-line] 100px [fifth-line] 100px;
  grid-template-rows: repeat(4, 100px) [row-line];
  gap: 10px;
}
.header {
  background-color: #2ecc71;
  /*첫 번째 열(라인)부터 5번째 열(라인)까지 차지*/
  grid-column: span 4;
}

.content {
  background-color: #3498db;
  /*첫 번째 행(라인)부터 3번째 행(라인)까지 차지*/
  grid-row: row-line 1 / row line 3;
  grid-column:span 3;
}
.nav {
  background-color: #8e44ad;
  grid-row:2/span 2;
}
.footer {
  background-color: #f39c12;
  grid-column: span 4;
}
